<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a href="#" id="logo"></a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="#">Log in</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="center jumbotron ">
  <p>Got left over food that no one wants? Donate to the shelter!</p>
  <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
</div>
<div class="center jumbotron ">
  <p>Are you a shelter? Sign up to get notify if any organization has any left over food! </p>
  <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
</div>
