<div class="profile-btns">
  <a href=""><div id="dash-btn">Dashboard</div></a>
  <a href=""><div id="donate-btn">Donate</div></a>
</div>
<br>

<h2>Donut Nation</h2>

<div id="dashboard">
<h3>Donations</h3>
  <hr>
<table style="width:100%">
  <tr>
    <th>Food</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>Donuts</td>
    <td>300</td>
  </tr>
  <tr>
    <td>Donuts</td>
    <td>300</td>
  </tr>
</table>
</div>

<div id="donate">
  <h2>Donate</h2>
  <form action="">
  </form>
</div>